<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251957041943-o1e0fcied9l0lvbojv5r0t4p53onedp2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251957041943-o1e0fcied9l0lvbojv5r0t4p53onedp2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>251957041943-4damrc6estv907r0b11jpfsa2807c001.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1DinIWoQqGkXYv6_lOdyXQYCNLXn4XrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>251957041943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>genefarm.com</string>
	<key>PROJECT_ID</key>
	<string>genefarm-dinocoders</string>
	<key>STORAGE_BUCKET</key>
	<string>genefarm-dinocoders.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251957041943:ios:5b7d889d6bad0d07b1f552</string>
</dict>
</plist>